<h1>Hello, Rails!</h1>
<%= link_to 'My Blog', controller: 'articles' %>
<%=link_to 'register', user_session_path%>
<%=link_to 'log in', user_session_path%>
<%=link_to 'sign out', destroy_user_session_path, method: :delete%>